# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [167]:
# import numpy and pandas
import numpy as np
import pandas
data = pandas.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [168]:
# Your code here:
data

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
...,...,...,...,...,...,...,...,...
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33701,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DAIS,F,Salary,NaN,126732.0,NaN

In [169]:
data.shape

(33702, 8)

Examine the `salaries` dataset using the `head` function below.

In [170]:
# Your code here:

data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [171]:
# Your code here:

data.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

In [172]:
data.columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [173]:
# Your code here:
data['Hourly Rate'].value_counts()

37.45    1495
43.72     779
38.52     528
19.86     345
49.35     298
         ...
21.84       1
50.50       1
44.74       1
30.00       1
37.69       1
Name: Hourly Rate, Length: 178, dtype: int64

In [174]:
data['Annual Salary'].value_counts()

90024.0     1743
84054.0     1500
93354.0     1469
72510.0     1307
87006.0     1143
            ...
113304.0       1
107112.0       1
80088.0        1
69720.0        1
65976.0        1
Name: Annual Salary, Length: 924, dtype: int64

In [175]:
data['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [176]:
data = data.groupby('Department').agg({'Name':'count'}).reset_index()
data.columns = ['Department','Numemployees']
data.head()

          Department  Numemployees
0       ADMIN HEARNG            38
1      ANIMAL CONTRL            75
2           AVIATION          1856
3  BOARD OF ELECTION           111
4    BOARD OF ETHICS             8

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [177]:
import scipy.stats
hourly_workers = np.random.normal(30, 1, 100)
confidence_level = 0.95
degrees_freedom = len(hourly_workers) - 1
sample_mean = np.mean(hourly_workers)
sample_standard_error = scipy.stats.sem(hourly_workers) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [178]:
hourly_workers

array([29.88854819, 32.15829135, 28.61344789, 30.5848953 , 30.79667942,
       31.01851744, 30.44555406, 29.60639033, 29.57726177, 30.6061497 ,
       30.47380723, 30.97176852, 29.9582509 , 29.72093248, 31.82327318,
       29.4568668 , 28.71837622, 31.18442467, 29.27958315, 30.9057009 ,
       30.36843064, 29.83389035, 29.24585367, 29.46020331, 28.83370383,
       29.41758679, 29.73432802, 29.58619947, 30.27670452, 30.19264909,
       29.90620443, 32.58293777, 28.1269137 , 31.07745585, 30.85610922,
       30.21154605, 29.06904264, 30.99887334, 28.29732703, 30.79098339,
       28.77293501, 30.8846403 , 31.84311809, 29.30209044, 28.65563698,
       30.46644073, 29.91953382, 31.17802932, 30.35803977, 31.61401954,
       29.25741657, 29.16018763, 30.56561664, 30.36417667, 29.83774608,
       30.70800258, 30.03942331, 30.04533831, 28.51555107, 32.26799981,
       30.05660778, 28.84335179, 30.4183397 , 29.65418926, 29.57098881,
       29.2940111 , 30.45026663, 30.59344569, 29.7552384 , 28.5033509 ,
       28.75989648, 29.11681877, 29.19006896, 29.97819614, 30.40045137,
       31.04397664, 28.99908871, 29.21927054, 28.91237088, 29.91912488,
       30.0778973 , 31.16864199, 29.14515081, 32.52442577, 31.17043157,
       28.24138181, 30.62132915, 29.87425579, 29.72216324, 29.17985917,
       30.46215791, 29.48755337, 31.72791391, 30.23712004, 29.15347288,
       29.48250475, 28.3472396 , 30.18960993, 29.74519626, 30.52137505])

In [179]:
sum(hourly_workers)/100

30.021703390337812

In [180]:
np.std(hourly_workers)/np.sqrt(degrees_freedom)

0.09801809526471289

In [181]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (29.82721422415896, 30.216192556516635) .

In [182]:
sample_standard_error

0.09801809526471289

In [183]:
(29.922115575813017 + 30.318852516020478)/2

30.120484045916747

In [184]:
# the hourly wage of all hourly workers is significantly different from $30/hr

# Two-sided test:
# Null hypothesis or H0: hourly workers is >< 30/hr 
# Alternative hyp or H1: hourly workers is = 30/hr 
 
# p_value < 0.05

from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(hourly_workers, 30)

In [185]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   0.22142228207133363
pvalue for the two-tailed test is  0.8252197145107778

We reject the Ho, P value is >0.05 ; there is no enough evidence that the Hypothesis could be relevant.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [186]:
# Your code here:

import scipy.stats
police_salaries = np.random.normal(86000, 10000, 100000)
confidence_level = 0.95
degrees_freedom = len(police_salaries) - 1
sample_mean = np.mean(police_salaries)
sample_standard_error = scipy.stats.sem(police_salaries) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [187]:
police_salaries

array([93059.38347338, 94323.71623096, 97188.60856634, ...,
       91077.12197882, 86499.48946696, 87587.23635657])

In [188]:
sum(police_salaries)/100

86001949.56552358

In [189]:
np.std(police_salaries)/np.sqrt(degrees_freedom)

31.504993353567727

In [190]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (85940.20016581626, 86063.69896522912) .

In [191]:
sample_standard_error

31.50499335356772

In [192]:
(85965.48567652328 + 86089.49572476732)/2

86027.4907006453

In [193]:
#  salaries this year are higher than last year's mean of $86000/year a year for all salaried employees.

# Two-sided test:
# Null hypothesis or H0: police_salaries is > 86000/hr 
# Alternative hyp or H1: police_salaries is <= 86000/hr 
 
# p_value < 0.05

from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(police_salaries, 86000)

In [194]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   0.06188115962487863
pvalue for the two-tailed test is  0.950657594852966

We reject the Ho, P value is >0.05 ; there is no enough evidence that the Hypothesis could be relevant.

Using the `crosstab` function, find the department that has the most hourly workers.

In [195]:
# Your code here:
df = pandas.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

In [196]:
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
df.head()

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

In [197]:
pd.crosstab(df.department,df.salary_or_hourly, values=df.salary_or_hourly, aggfunc='count')

salary_or_hourly     Hourly   Salary
department
ADMIN HEARNG            NaN     38.0
ANIMAL CONTRL          12.0     63.0
AVIATION             1214.0    642.0
BOARD OF ELECTION       NaN    111.0
BOARD OF ETHICS         NaN      8.0
BUDGET & MGMT           2.0     42.0
BUILDINGS               NaN    258.0
BUSINESS AFFAIRS        7.0    160.0
CITY CLERK              NaN     88.0
CITY COUNCIL           74.0    288.0
COPA                    NaN    123.0
CULTURAL AFFAIRS       10.0     64.0
DAIS                  745.0    288.0
DISABILITIES            1.0     27.0
FAMILY & SUPPORT      357.0    299.0
FINANCE                45.0    499.0
FIRE                    NaN   4627.0
HEALTH                  2.0    465.0
HOUSING                 NaN     66.0
HOUSING & ECON DEV      3.0    151.0
HUMAN RELATIONS         NaN     17.0
HUMAN RESOURCES         NaN     75.0
INSPECTOR GEN           NaN     95.0
LAW                    48.0    350.0
LICENSE APPL COMM       NaN      1.0
MAYOR'S OFFICE         17.0     87.0
OEMC                 1077.0    660.0
POLICE                 24.0  13824.0
POLICE BOARD            NaN      2.0
PROCUREMENT             2.0     82.0
PUBLIC LIBRARY        356.0    732.0
PUBLIC SAFETY ADMIN    48.0    196.0
STREETS & SAN        1846.0    329.0
TRANSPORTN            726.0    387.0
TREASURER               NaN     28.0
WATER MGMNT          1558.0    356.0

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [198]:
import scipy.stats
Hourly = np.random.normal(35, 1, 100)
confidence_level = 0.95
degrees_freedom = len(hourly_workers) - 1
sample_mean = np.mean(hourly_workers)
sample_standard_error = scipy.stats.sem(hourly_workers) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [199]:
Hourly

array([34.55071349, 35.54073527, 34.33792421, 34.89027352, 36.36108434,
       34.32332422, 36.45006165, 34.56351372, 34.33268953, 35.51291752,
       36.94039406, 35.33783598, 35.52136112, 34.66521209, 36.40575135,
       34.34918632, 38.14352925, 34.80060236, 36.69611552, 34.66297163,
       35.8811018 , 34.49670166, 34.72381632, 35.12075017, 34.95709433,
       34.73413169, 35.59368408, 34.29321547, 32.8362899 , 34.5681529 ,
       34.91041492, 35.43305141, 36.17199197, 34.05696449, 33.49519031,
       35.23429784, 35.02267387, 34.72560194, 35.98418246, 33.57993197,
       34.1444746 , 35.59416651, 35.92867592, 33.6211515 , 36.60441569,
       36.7007869 , 34.43175574, 35.65437586, 33.86054802, 35.66584188,
       33.31553132, 33.86659961, 34.82448022, 34.56324177, 34.84669789,
       33.94495456, 33.8674777 , 34.38378969, 34.9137424 , 35.76597564,
       33.18608399, 35.88475981, 35.30428431, 35.70684902, 32.94375618,
       35.62027202, 34.61869984, 35.35630316, 35.18525573, 34.09195947,
       34.65478705, 34.52751014, 35.64603846, 36.59711184, 35.02870279,
       34.40631879, 35.20187292, 35.36938035, 34.5793625 , 35.95833577,
       34.05707489, 35.74850995, 33.2542483 , 36.78586625, 34.00976649,
       34.87062758, 33.30286524, 34.0058282 , 35.05008808, 34.20754746,
       33.10103912, 35.67695327, 35.73454191, 35.58990762, 35.2461169 ,
       34.51658812, 34.80151158, 35.47916901, 36.19608987, 33.85165581])

In [200]:
sum(Hourly)/100

34.960577598517

In [201]:
np.std(Hourly)/np.sqrt(degrees_freedom)

0.09886525526364254

In [202]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (29.82721422415896, 30.216192556516635) .

In [203]:
sample_standard_error

0.09801809526471289

In [204]:
(34.77298809839469 + 35.19087066949788)/2

34.98192938394629

In [205]:
#  the most hourly workers have complained that their hourly wage is less than $35/hour

# Two-sided test:
# Null hypothesis or H0: police_salaries is > 35/hr 
# Alternative hyp or H1: police_salaries is <= 35/hr 
 
# p_value < 0.05

from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(police_salaries, 35)

In [206]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   2728.6769624341955
pvalue for the two-tailed test is  0.0

Our p Value is < 0.05, we must consider that there is enough evidence to confirm if the police_salaries is > 35/hr.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [207]:
import scipy.stats
Hourly = np.random.normal(35, 1, 100)
confidence_level = 0.95
degrees_freedom = len(Hourly) - 1
sample_mean = np.mean(Hourly)
sample_standard_error = scipy.stats.sem(Hourly) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [208]:
sum(Hourly)/100

34.82748340235421

In [209]:
np.std(Hourly)/np.sqrt(degrees_freedom)

0.10877300244338203

In [210]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.61165416703957, 35.04331263766887) .

In [211]:
sample_standard_error

0.10877300244338203

In [212]:
(34.92036837250335 + 35.31463372812904)/2

35.11750105031619

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [213]:
import scipy.stats
Salary = np.random.normal(35, 1, 100)
confidence_level = 0.95
degrees_freedom = len(Salary) - 1
sample_mean = np.mean(Salary)
sample_standard_error = scipy.stats.sem(Salary) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [214]:
sum(Salary)/100

35.01508545910573

In [215]:
np.std(Salary)/np.sqrt(degrees_freedom)

0.10369059373374515

In [216]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.809340825307224, 35.220830092904215) .

In [217]:
sample_standard_error

0.10369059373374515

In [218]:
(34.70016046856507 + 35.048816134979106)/2

34.87448830177209

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [219]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
count = np.array([0, 25])
nobs = np.array([88, 95])
stat, pval = proportions_ztest(count, nobs)
print('{0:0.3f}'.format(pval))

0.000

 We should consider our H0, the P-value is < 0.05, so there is enough evidence to consider that the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.